<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class=" text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
            [percent]="30"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'pink'"
            [titleFontSize]="'1em'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'violet'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>

        <circle-progress
            [percent]="30"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'pink'"
            [titleFontSize]="'1em'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'violet'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
            [percent]="30"
            [radius]="100"
            [title]="'HTML'"
            [titleColor]="'pink'"
            [titleFontSize]="'1em'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'violet'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>

        <circle-progress
        [percent]="30"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'pink'"
        [titleFontSize]="'1em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'violet'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../assets/logoHTML5.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'violet'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
        <circle-progress
        [percent]="30"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'pink'"
        [titleFontSize]="'1em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'violet'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="800"
    ></circle-progress>
    </div>
    

  




</div>
