div {
	background-color: blueviolet;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo img{
	width: 150px;
    color: white;
    display: flex;
}

#social img {
	width: 40px;
    /*margin-right: 10px;*/
}

#banner img{
	width: 1300px;
    height: 500px;
}

/*app-social {
	display: flex;
	align-items: center;
	align-content: flex-end;
}

app-banner {
	position: absolute;
	display: block;
	bottom: 3px;
	left: 25px;
}
*/