<div class="row">
    <div class="container header-superior">
        <div id="logo">
            <img src="../../../assets/APLogo.png">
            <h4>#YoProgramo</h4>
         </div>
       
        <div id="social-login">

            <a href="https://www.facebook.com/gabriela.gonzalez.313" ><img src="../../../assets/facebook.png" id="facebook" alt="Icono facebook"></a>
            <a href="https://twitter.com/gabyrm2512" ><img src="../../../assets/twitter.png" id="twiter" alt="Icono Twiter"></a>
            <a href="https://www.instagram.com/gabrielagonzalezponti/" ><img src="../../../assets/instagram.png" id="instagram" alt="Icono Instagram"></a>
            <a href="" ><img src="../../../assets/linkedin.png" id="linkedin" alt="Icono linkedin"></a>
            <a href="" ><img src="../../../assets/github.png" id="github" alt="Icono Github"></a>

            <button class="btn btn-primary" style="font-size:20px ;" type="submit">Login</button>
        </div> 

    </div>      


    <div class="container" id="banner">
        <img src="../../../assets/banner.jpg" alt="Imagen banner">
    </div>
</div>

