<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="foto-perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="nombre-titulo">
        <p>Gabriela Rita de los Milagros González</p>
        <p>Full Stack Development</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="acerca-de-mi">
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias modi aliquid nisi maiores ex? 
            Tempore, iure? Maxime quae, hic explicabo, placeat, rerum unde minus omnis dicta quis perferendis
             veritatis cum?</p>
    </div>

</div>
