
<div>
    <a href="https://www.facebook.com/gabriela.gonzalez.313" ><img src="../../../assets/facebook.png" id="facebook" alt="Icono facebook"></a>
    <a href="https://twitter.com/gabyrm2512" ><img src="../../../assets/twitter.png" id="twiter" alt="Icono Twiter"></a>
    <a href="https://www.instagram.com/gabrielagonzalezponti/" ><img src="../../../assets/instagram.png" id="instagram" alt="Icono Instagram"></a>
    <a href="" ><img src="../../../assets/linkedin.png" id="linkedin" alt="Icono linkedin"></a>
    <a href="" ><img src="../../../assets/github.png" id="github" alt="Icono Github"></a>
</div>